html {
  height: 100%;
  width: 100%;
}
body {
  font-family: Arial, sans-serif;
  background-color: #4b7ca7;
  color: #333;
  padding: 20px;
}
img {
  border: 1px solid #0a0a0a;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

p{
  font-size: 1rem;
  line-height: 1.83;
  color: #f0f0f0;
}

h3 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #ffffff;  
}

h1 { 
  font-size: 1.25rem; 
  font-family: Bitcount Ink;

}

h2 { 
  font-size: 2.488rem; 
  line-height: 1.4;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #ffffff; 
}

h3 { 
  font-size: 2.074rem; 
}

h4 { 
  font-size: 1.728rem; 
}

a:link{
  color: #b12b2b;
  text-decoration: none;
}

a:visited {
  color: #6fb7ca;
}

a:hover{
  color: #76d3b9;
}

a:active{
  color: #ff5733;
}

a:hover, a:active {
  text-decoration: underline;
}

hr {
  border: 0;
  height: auto;
  width: 80%;
  color: aqua;

}

table {
  border-collapse: collapse;
  margin: 20px 0;
  width: 90%;
  background-color: #a75162;
}
th {
  background-color: #5c85d6;
  color: #fff;
  font-size: 1.1em;
  padding: 10px;
  border: 2px solid #ffffff;
}
td {
  background-color: #76d3b9;
  color: #000;
  padding: 8px;
  border: 1px solid #ffffff;
}

img {
  border: 1px solid #0a0a0a;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  margin-right: 10px;
}

.about-color {
    color: #ff5733;
}

.carrer-color {
    color: #33c1ff;
}

.fancybox {
  width: 250px;
  height: 150px;
  background-color: lightblue;
  border: 4px solid #333333;
  border-radius: 20px;
  margin: 20px;
  padding: 15px;
}

nav{
  width: 56rem;
  margin: 3rem auto;
  background-color: #3a668a;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
}
nav a{
  color: #ffffff;
  margin-right: 15px;
  font-weight: bold;
}
nav a:hover{
  color:green ;
}

header {
  border-bottom: 1px dotted #bbbbbb;
  width: 25rem;
  margin-bottom: 4rem;
}

section {
  margin-bottom: 3rem;
}

* {
  box-sizing: border-box;
}
/* Peer Review Comment:
Ahnaf help me cto put a commewnt in this file */
